{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25"> <img src="{% if teacher.profile_picture %}{{ teacher.profile_picture.url }}{% else %}{% static 'images/place_holder.jpeg' %}{% endif %}" class="img-fluid rounded-circle img-radius" alt="User-Profile-Image"> </div>
                                <h4 class="f-w-600">{{ teacher.get_full_name }}</h4>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                                <h5 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h5>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Email</p>
                                        <h6 class="text-muted f-w-400">{{ teacher.email}}</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Phone</p>
                                        <h6 class="text-muted f-w-400">{{ teacher.phone_number }}</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Room Number</p>
                                        <h6 class="text-muted f-w-400">{{ teacher.room_no }}</h6>
                                    </div>
                                </div>
                                <h5 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Subjects Taught</h5>
                                <div class="row">
                                    <div class="col-12">
                                        <p class="m-b-10 f-w-600 text-muted">{{ teacher.get_subjects_list|join:' | ' }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block css_components %}
    <link href="{% static 'css/details.css' %}" rel="stylesheet">
{% endblock %}
